---
# Tasks for Docker installation

- name: Install Docker via amazon-linux-extras
  shell: amazon-linux-extras install docker -y
  args:
    creates: /usr/bin/docker
  tags: [docker]

- name: Start and enable Docker
  service:
    name: docker
    state: started
    enabled: yes
  tags: [docker]

- name: Add ec2-user to docker group
  user:
    name: ec2-user
    groups: docker
    append: yes
  tags: [docker]

- name: Install pip3
  yum:
    name: python3-pip
    state: present
  tags: [docker]

- name: Install Docker SDK for Python
  pip:
    name: 
      - docker
      - requests
    executable: pip3
  tags: [docker]
